<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Better.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C5B3E182FA85A1000C81C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C5B3E252FA85A1100C81C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C5B3E2F2FA85A1100C81C05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
